USE [master]
GO
/****** Object:  Database [VENDAS]    Script Date: 20/06/2024 08:29:35 ******/
CREATE DATABASE [VENDAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VENDAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVERCURSO\MSSQL\DATA\VENDAS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VENDAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVERCURSO\MSSQL\DATA\VENDAS_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VENDAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VENDAS]
GO
/****** Object:  Table [dbo].[ACAOACESSO]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ACAOACESSO](
	[ACAOACESSOID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
	[CHAVE] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACAOACESSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[CATEGORIAID] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clientes](
	[clienteId] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](60) NULL,
	[endereco] [varchar](60) NULL,
	[cidade] [varchar](50) NULL,
	[bairro] [varchar](40) NULL,
	[estado] [char](2) NULL,
	[cep] [varchar](10) NULL,
	[telefone] [varchar](14) NULL,
	[email] [varchar](100) NULL,
	[datanascimento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[clienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[PRODUTOID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NULL,
	[DESCRICAO] [varchar](255) NULL,
	[VALOR] [decimal](18, 5) NULL DEFAULT ((0.00000)),
	[QUANTIDADE] [decimal](18, 5) NULL DEFAULT ((0.00000)),
	[CATEGORIAID] [int] NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[PRODUTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[USUARIOS](
	[USUARIOID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SENHA] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOSACAOACESSO]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOSACAOACESSO](
	[USUARIOID] [int] NOT NULL,
	[ACAOACESSOID] [int] NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIOID] ASC,
	[ACAOACESSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[VENDAID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTEID] [int] NOT NULL,
	[DATAVENDA] [datetime] NULL DEFAULT (getdate()),
	[TOTALVENDA] [decimal](18, 5) NULL DEFAULT ((0.00000)),
PRIMARY KEY CLUSTERED 
(
	[VENDAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENDASITENS]    Script Date: 20/06/2024 08:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDASITENS](
	[VENDAID] [int] NOT NULL,
	[PRODUTOID] [int] NOT NULL,
	[VALORUNITARIO] [decimal](18, 5) NULL DEFAULT ((0.00000)),
	[QUANTIDADE] [decimal](18, 5) NULL DEFAULT ((0.00000)),
	[TOTALPRODUTO] [decimal](18, 5) NULL DEFAULT ((0.00000)),
PRIMARY KEY CLUSTERED 
(
	[VENDAID] ASC,
	[PRODUTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOSCATEGORIAS] FOREIGN KEY([CATEGORIAID])
REFERENCES [dbo].[CATEGORIAS] ([CATEGORIAID])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOSCATEGORIAS]
GO
ALTER TABLE [dbo].[USUARIOSACAOACESSO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOACAOACESSOACAOACESSO] FOREIGN KEY([ACAOACESSOID])
REFERENCES [dbo].[ACAOACESSO] ([ACAOACESSOID])
GO
ALTER TABLE [dbo].[USUARIOSACAOACESSO] CHECK CONSTRAINT [FK_USUARIOACAOACESSOACAOACESSO]
GO
ALTER TABLE [dbo].[USUARIOSACAOACESSO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOACAOACESSOUSUARIO] FOREIGN KEY([USUARIOID])
REFERENCES [dbo].[USUARIOS] ([USUARIOID])
GO
ALTER TABLE [dbo].[USUARIOSACAOACESSO] CHECK CONSTRAINT [FK_USUARIOACAOACESSOUSUARIO]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_VENDASCLIENTES] FOREIGN KEY([CLIENTEID])
REFERENCES [dbo].[clientes] ([clienteId])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_VENDASCLIENTES]
GO
ALTER TABLE [dbo].[VENDASITENS]  WITH CHECK ADD  CONSTRAINT [FK_VENDASITENSPRODUTOS] FOREIGN KEY([PRODUTOID])
REFERENCES [dbo].[PRODUTOS] ([PRODUTOID])
GO
ALTER TABLE [dbo].[VENDASITENS] CHECK CONSTRAINT [FK_VENDASITENSPRODUTOS]
GO
USE [master]
GO
